<div class="navigation-wrapper">
  <nav class="navigation">
    <a class="resources" [routerLink]="['resources']" routerLinkActive="active" (click)="changeBg('resources')"></a>
    <a class="village" [routerLink]="['village']" routerLinkActive="active" (click)="changeBg('village')"></a>
    <a class="village" [routerLink]="['village']" routerLinkActive="active" (click)="changeBg('village')"></a>
    <a class="village" [routerLink]="['village']" routerLinkActive="active" (click)="changeBg('village')"></a>
    <a class="village" [routerLink]="['village']" routerLinkActive="active" (click)="changeBg('village')"></a>
    <a class="village" [routerLink]="['village']" routerLinkActive="active" (click)="changeBg('village')"></a>
    <a class="village" [routerLink]="['village']" routerLinkActive="active" (click)="changeBg('village')"></a>
  </nav>
</div>
