.navigation {
  position: absolute;
  left: 160px;
  top: -12px;
  z-index: 3;
  width: 462px;

  height: 100px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  &-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    width: 60px;
    height: 60px;

    position: relative;
    border: 1px solid #553420;
    border-radius: 50%;
    background-image: linear-gradient(to bottom,#cbb198,#7b6050);
    display: inline-block;

    margin-right: 5px;

    &:after {
      content: '';
      width: 56px;
      height: 56px;
      position: absolute;
      background-image: url("/assets/bg/navigation.png");
    }

    &:before {
      content: "";
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px;
      border: 1px solid #553420;
      border-radius: 50%;
      background-color: #5e4538;
      transition-duration: 150ms;
    }

    &:hover {
      background-image: linear-gradient(#cbb198,#dacebb);

      &::before {
        background-color: rgb(120, 90, 56);
      }

      &::after {
        margin-top: -3px;
      }
    }
  }

  .resources {
    &:after {
      background-position: 0 0;
    }

    &:hover::after {
      background-position: 0 -62px;
    }
  }

  .village {
    &:after {
      background-position: 0 -124px;
    }

    &:hover::after {
      background-position: 0 -186px;
    }
  }

  .map {
    &:after {
      background-position: 0 -248px;
    }

    &:hover::after {
      background-position: 0 -310px;
    }
  }

  .statistics {
    &:after {
      background-position: 0 -372px;
    }

    &:hover::after {
      background-position: 0 -434px;
    }
  }

  .reports {
    &:after {
      background-position: 0 -496px;
    }

    &:hover::after {
      background-position: 0 -558px;
    }
  }

  .messages {
    &:after {
      background-position: 0 -620px;
    }

    &:hover::after {
      background-position: 0 -682px;
    }
  }

  .daily-quest {
    &:after {
      background-position: 0 -744px;
    }

    &:hover::after {
      background-position: 0 -806px;
    }
  }
}
