<div class="navigation-wrapper">
  <nav class="navigation">
    <a class="resources" [routerLink]="['resources']" routerLinkActive="active" (click)="changeBg('resources')"></a>
    <a class="village" [routerLink]="['village']" routerLinkActive="active" (click)="changeBg('village')"></a>
    <a class="map" [routerLink]="['map']" routerLinkActive="active" (click)="changeBg('map')"></a>
    <a class="statistics" [routerLink]="['statistics']" routerLinkActive="active" (click)="changeBg('statistics')"></a>
    <a class="reports" [routerLink]="['reports']" routerLinkActive="active" (click)="changeBg('reports')"></a>
    <a class="messages" [routerLink]="['messages']" routerLinkActive="active" (click)="changeBg('messages')"></a>
    <a class="daily-quest" [routerLink]="['daily-quest']" routerLinkActive="active" (click)="changeBg('daily-quest')"></a>
  </nav>
</div>
