<div *ngIf="infoProps" class="build-list">
  <div class="build-item">
    <h5>Building:</h5>
    <app-main-button
      [text]="'Complete construction immediately '"
      [class]="'button-gold'">
    </app-main-button>
  </div>
  <div class="build-item">
    <div class="build-item">
      <div class="build-cancel"></div>
      <div>
        {{infoProps.field | resourceNamePipe}} <span>Level {{infoProps.level}}</span>
      </div>
    </div>
    <div>
      <app-timer [endDate]="infoProps.endDate" (timerExpired)="buildingResolve.emit()"></app-timer>
      hrs. done at {{infoProps.endDate | date:'H:mm:ss'}}
    </div>
  </div>
</div>
