.top-line {
  position: absolute;
  display: flex;
  align-items: center;
  height: 32px;
  background-color: #73655a;
  width: 100%;

  &__clock {
    height: 10px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 20px;
    border-radius: 5px;
    color: #DFD5C9;
    background-color: #5e5046;

    &-time {
      font-size: 12px;
      font-weight: bold;
    }
  }
}

.logo {
  display: block;
  position: absolute;
  top: 29px;
  left: 5px;
  width: 128px;
  height: 36px;
  background-color: #dacebb;
  border: solid 1px #5c4134;
  border-radius: 4px;
  padding: 0 7px;
  box-shadow: 1px 0 1px rgb(0 0 0 / 35%) inset, -1px 0 1px rgb(0 0 0 / 35%) inset, 0 -2px 1px rgb(0 0 0 / 40%) inset, 0 2px 1px rgb(255 255 255 / 30%) inset;

  svg {
    width: 112px;
    height: 38px;
  }
}

.header {

  display: flex;
  justify-content: center;

}

.wrapper {
  width: 945px;
  position: relative;
  z-index: 32;
  height: 119px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-style: solid;
    border-width: 0 142px 119px 149px;
    border-image: url('/assets/headerBackground.png') 0 142 119 149 fill stretch;
  }
}



