.resources {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 700px;
  z-index: 2;

  &-item {
    position: relative;

    transform: translate(-120px, -85px);

    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url('../../../../assets/bg/resource-fields/resourceField3.png');

    width: 473px;
    height: 304px;

    &:after {
      z-index: -1;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url('../../../../assets/resources/villageCenter_vid3.png');
    }
  }
}

svg {
  path {
    pointer-events: auto;
    cursor: pointer;
    transition-duration: 150ms;
    transition-timing-function: ease-in;
    fill: transparent;

    &:hover {
      fill: rgba(255, 255, 255, .2);
      stroke: white;
      transition-duration: 150ms;
      transition-timing-function: ease-in;
    }
  }
}

