.background {
  background-position: center top;
}

.resource-background {
  background-image: url("../../../assets/bg/bgResources.jpg");
}

.buildings-background {
  background-image: url("../../../assets/bg/bgBuildings.jpg");
}






