<div *ngIf="resourcesProps" class="stock-bar">
  <div class="warehouse">
    <div class="warehouse-item capacity">
      <img src="assets/resources/warehouse_medium.png" alt="">
      <div class="capacity-value"><span>{{resourcesProps.warehouse.capacity}}</span></div>
    </div>
    <div class="warehouse-item resource">
      <img src="assets/resources/lumber_small.png" alt="lumber_small">
      <div class="resource-value">
        <span>{{resourcesProps.warehouse.values.lumber + resources.lumber | capacityPipe:resourcesProps.warehouse.capacity | number:'1.0-0'}}</span>
        <div class="bar-box">
          <div class="bar" [ngStyle]="getBarStyles(resourcesProps.warehouse.values.lumber, resourcesProps.warehouse.capacity)"></div>
        </div>
      </div>
    </div>
    <div class="warehouse-item resource">
      <img src="assets/resources/clay_small.png" alt="clay_small">
      <div class="resource-value">
        <span>{{resourcesProps.warehouse.values.clay + resources.clay | capacityPipe:resourcesProps.warehouse.capacity | number:'1.0-0'}}</span>
        <div class="bar-box">
          <div class="bar" [ngStyle]="getBarStyles(resourcesProps.warehouse.values.lumber, resourcesProps.warehouse.capacity)"></div>

        </div>
      </div>
    </div>
    <div class="warehouse-item resource">
      <img src="assets/resources/iron_small.png" alt="iron_small">
      <div class="resource-value">
        <span>{{resourcesProps.warehouse.values.iron + resources.iron | capacityPipe:resourcesProps.warehouse.capacity | number:'1.0-0'}}</span>
        <div class="bar-box">
          <div class="bar" [ngStyle]="getBarStyles(resourcesProps.warehouse.values.lumber, resourcesProps.warehouse.capacity)"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="granary">
    <div class="granary-item capacity">
      <img src="assets/resources/granary_medium.png" alt="">
      <div class="capacity-value"><span>{{resourcesProps.granary.capacity}}</span></div>
    </div>
    <div class="granary-item resource">
      <img src="assets/resources/crop_medium.png" alt="lumber_small">
      <div class="resource-value">
        <span>{{resourcesProps.granary.values.crop + resources.crop | capacityPipe:resourcesProps.granary.capacity | number:'1.0-0'}}</span>
        <div class="bar-box">
          <div class="bar" [ngStyle]="getBarStyles(resourcesProps.granary.values.crop, resourcesProps.granary.capacity)"></div>
        </div>
      </div>
    </div>
    <div class="granary-item resource">
      <img src="assets/resources/freeCrop_medium.png" alt="lumber_small">
      <div class="resource-value free-crop">
        <span>N</span>
      </div>
    </div>
  </div>
</div>
