<div class="stock-bar">
  <div class="warehouse">
    <div class="warehouse-item capacity">
      <img src="assets/resources/warehouse_medium.png" alt="">
      <div class="capacity-value"><span>1 200</span></div>
    </div>
    <div class="warehouse-item resource">
      <img src="assets/resources/lumber_small.png" alt="lumber_small">
      <div class="resource-value">
        <span>1203</span>
        <div class="bar-box">
          <div class="bar"></div>
        </div>
      </div>
    </div>
    <div class="warehouse-item resource">
      <img src="assets/resources/clay_small.png" alt="lumber_small">
      <div class="resource-value">
        <span>1203</span>
        <div class="bar-box">
          <div class="bar"></div>
        </div>
      </div>
    </div>
    <div class="warehouse-item resource">
      <img src="assets/resources/iron_small.png" alt="lumber_small">
      <div class="resource-value">
        <span>1203</span>
        <div class="bar-box">
          <div class="bar"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="granary">
    <div class="warehouse-item capacity">
      <img src="assets/resources/granary_medium.png" alt="">
      <div class="capacity-value"><span>1 200</span></div>
    </div>
    <div class="warehouse-item resource">
      <img src="assets/resources/crop_medium.png" alt="lumber_small">
      <div class="resource-value">
        <span>1203</span>
        <div class="bar-box">
          <div class="bar"></div>
        </div>
      </div>
    </div>
    <div class="warehouse-item resource">
      <img src="assets/resources/freeCrop_medium.png" alt="lumber_small">
      <div class="resource-value">
        <span>1203</span>
        <div class="bar-box">
          <div class="bar"></div>
        </div>
      </div>
    </div>
  </div>
</div>
