<form [formGroup]="form" (ngSubmit)="submit()">

  <h2>Login</h2>

  <div class="form-control">
    <label for="login">Email</label>
    <input id="login" formControlName="login">
    <div *ngIf="form.get('login').touched && form.get('login')?.invalid" class="validation">
      <small *ngIf="form.get('login').errors.required">Enter Email</small>
      <small *ngIf="form.get('login').errors.email">Enter valid Email</small>
    </div>
  </div>

  <div class="form-control">
    <label for="password">Password</label>
    <input id="password" formControlName="password" type="password">
    <div *ngIf="form.get('password').touched && form.get('password')?.invalid" class="validation">
      <small *ngIf="form.get('password').errors.required">Enter Password</small>
      <small *ngIf="form.get('password').errors.minlength">
        Password must be at least {{form.get('password').errors.requiredLength}} chars.
        Now {{form.get('password').errors.minlength.actualLength}}
      </small>
    </div>
  </div>


  <button type="submit" [disabled]="isSubmitting$ | async">
    <span>Log in</span>
  </button>
</form>

<pre>{{form.value | json}}</pre>
