body {
  background-attachment: scroll;
  background-position: left top,right top;
  background-size: 50% 2000px,50% 2000px;
  min-width: 1280px;
  overflow-y: scroll;

  margin: 0;
  padding: 0;

  background-color: #67772e;
  background-image: linear-gradient(-4.9deg,#67772e 1856px,#abc7df 1892px,#aac8e2),linear-gradient(4.9deg,#67772e 1875px,#abc7df 1911px,#aac8e2);
}
